server {{ ntp_server1 }} offline iburst
server {{ ntp_server2 }} offline iburst
driftfile /var/lib/chrony/drift                                     
makestep 10 3
logchange 0.5
logdir /var/log/chrony
bindcmdaddress 127.0.0.1
bindcmdaddress -6 ::1
rtcsync
keyfile /etc/chrony.keys
generatecommandkey
